@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";

@import "@radix-ui/colors/black-alpha.css";

@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/red-dark-alpha.css";

@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/amber-dark-alpha.css";

@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/tomato-alpha.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/tomato-dark-alpha.css";

@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/purple-alpha.css";
@import "@radix-ui/colors/purple-dark-alpha.css";

@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/teal-dark.css";
@import "@radix-ui/colors/teal-alpha.css";
@import "@radix-ui/colors/teal-dark-alpha.css";

@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue-dark-alpha.css";

@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/pink-alpha.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/pink-dark-alpha.css";

@import "@radix-ui/colors/crimson.css";
@import "@radix-ui/colors/crimson-alpha.css";
@import "@radix-ui/colors/crimson-dark.css";
@import "@radix-ui/colors/crimson-dark-alpha.css";

@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/grass-alpha.css";
@import "@radix-ui/colors/grass-dark.css";
@import "@radix-ui/colors/grass-dark-alpha.css";


:root {
    --gray-0: white;

    --bg-base: var(--gray-0);
    --bg-primary: var(--gray-0);
    --bg-secondary: var(--gray-1);
    --bg-tertiary: var(--gray-2);
    --bg-quaternary: var(--gray-3);

    --fg-primary: var(--gray-12);
    --fg-secondary: var(--gray-11);
    --fg-tertiary: var(--gray-10);
    --fg-quaternary: var(--gray-9);
}



.dark {
    --gray-0: #0a0a0a;

    --bg-base: var(--gray-0);
    --bg-primary: var(--gray-1);
    --bg-secondary: var(--gray-2);
    --bg-tertiary: var(--gray-3);
    --bg-quaternary: var(--gray-4);

    --fg-primary: var(--gray-12);
    --fg-secondary: var(--gray-11);
    --fg-tertiary: var(--gray-10);
    --fg-quaternary: var(--gray-9);
  }
