:root {
    --shadow-small: 0px 1px 2px 0px var(--black-a2);
    --shadow-medium: 0px 1px 4px 0px var(--black-a3);
    --shadow-large: 0px 2px 8px 0px var(--black-a3);
    --shadow-x-large: 0px 12px 24px 0px var(--black-a3);
    --shadow-debug: 0 10px 10px 0px var(--black-a11);

    --shadow-hairline-1: 0 0 0 1px var(--gray-a4);
    --shadow-hairline-2: 0 0 0 1px var(--gray-a5);
    --shadow-hairline-3: 0 0 0 1px var(--gray-a7);

    --shadow-button: var(--shadow-hairline-1), var(--shadow-small);
    --shadow-card: var(--shadow-hairline-1), var(--shadow-medium);
    --shadow-modal: var(--shadow-hairline-1), var(--shadow-x-large);
}


.dark {
    --shadow-small: 0px 1px 2px 0px var(--black-a2);
    --shadow-medium: 0px 1px 4px 0px var(--black-a3);
    --shadow-large: 0px 2px 8px 0px var(--black-a3);
    --shadow-x-large: 0px 8px 18px 0px var(--black-a8);
    --shadow-debug: 0 10px 10px 0px var(--black-a11);

    --shadow-hairline-1: 0 0 0 1px var(--gray-a4);
    --shadow-hairline-2: 0 0 0 1px var(--gray-a5);
    --shadow-hairline-3: 0 0 0 1px var(--gray-a7);

    --shadow-button: var(--shadow-hairline-1), var(--shadow-small);
    --shadow-card: var(--shadow-hairline-1), var(--shadow-large);
    --shadow-modal: var(--shadow-hairline-1), var(--shadow-x-large);
}
