.toggle {
  --foreground: var(--fg-secondary);

  --background-hover: var(--gray-a3);
  --foreground-hover: var(--fg-primary);

  --background-checked: var(--gray-a4);
  --foreground-checked: var(--fg-primary);
}

.toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-6);
  height: var(--control-height-md);
  padding: 0 var(--size-8);

  border: none;
  border-radius: 8px;
  corner-shape: var(--corner-shape);
  background: transparent;
  color: var(--foreground);
  cursor: pointer;
  user-select: none;

  transition:
    background-color var(--duration-120) var(--ease-in-out-quad),
    color var(--duration-120) var(--ease-in-out-quad);

  &:hover {
    background: var(--background-hover);
    color: var(--foreground-hover);
  }

  &[aria-pressed="true"] {
    background: var(--background-checked);
    color: var(--foreground-checked);
  }

  &:focus-visible {
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
    animation: var(--focus-ring-animation);
    outline-offset: var(--focus-ring-offset);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &[data-width="square"] {
    width: var(--control-height-md);
    max-width: var(--control-height-md);
    padding: 0;
    flex: none;
  }
}
