.container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
  corner-shape: var(--corner-shape);
  height: var(--control-height-lg);
  cursor: pointer;
  background: transparent;
  border: none;

  transition:
    background-color var(--duration-120),
    color var(--duration-120);

  &:hover {
    background-color: var(--gray-3);
  }
}

.box {
  composes: root from "../checkbox/styles.module.css";
}

.indicator {
  composes: indicator from "../checkbox/styles.module.css";
}

.label {
  cursor: pointer;
  user-select: none;
}
