.link {
  --foreground: var(--blue-9);
  --foreground-hover: var(--blue-11);
}

.link {
  color: var(--foreground);
  font-weight: var(--font-weight-medium, 500);

  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-skip-ink: all;
  text-decoration-color: currentColor;
  text-underline-offset: 2px;

  cursor: pointer;

  transition:
    color var(--duration-120) var(--ease-in-out-quad),
    box-shadow var(--duration-120) var(--ease-in-out-quad);

  &:hover {
    color: var(--foreground-hover);
  }

  &:focus-visible {
    outline: none;
    box-shadow: var(--focus-shadow);
    border-radius: 2px;
  }
}
