.link {
  color: var(--blue-9);
  font-weight: var(--font-weight-medium, 500);

  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-skip-ink: all;
  text-decoration-color: currentColor;
  text-underline-offset: 2px;

  cursor: pointer;

  transition: color var(--duration-120) var(--ease-in-out-quad);

  &:hover {
    color: var(--blue-7);
    /* text-decoration-style: solid; */
  }

  &:focus-visible {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: var(--focus-ring-offset);
    border-radius: 2px;
  }
}
