.root {
  --item-border-color: var(--gray-a3);

  --chevron-color: var(--fg-tertiary);
  --chevron-color-hover: var(--fg-secondary);
}

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  border-bottom: 1px solid var(--item-border-color);

  &:last-child {
    border-bottom: none;
  }
}

.header {
  display: flex;
  margin: 0;
}

.trigger {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-8);
  padding: 16px 0;

  background: transparent !important;
  border: none;
  cursor: pointer;
  user-select: none;
  text-align: left;

  &:focus-visible {
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
    animation: var(--focus-ring-animation);
    outline-offset: -1px;
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover .chevron {
    color: var(--chevron-color-hover);
  }

  &[data-state="open"] .chevron {
    transform: rotate(180deg);
  }
}

.chevron {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--chevron-color);
  transition:
    transform var(--duration-180) var(--ease-out-quad),
    color var(--duration-120) var(--ease-in-out-quad);
}

.content {
  --collapse-height: var(--radix-accordion-content-height);
  --collapse-min-opacity: 0;

  position: relative;
  overflow: hidden;

  &[data-state="open"] {
    animation: var(--kf-collapse-open) var(--duration-180) var(--ease-out-quad);
  }

  &[data-state="closed"] {
    animation: var(--kf-collapse-closed) var(--duration-180) var(--ease-out-quad);
  }
}

.contentInner {
  padding: 0 0 16px 0;
}
