.root {
  --track-background: var(--gray-3);

  --range-background: var(--blue-9);
  --range-background-disabled: var(--gray-8);

  --thumb-background: #fff;
  --thumb-shadow:
    0 0 0 1px var(--gray-a5),
    0 var(--size-1) var(--size-2) var(--gray-a5);
}

.root {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: var(--control-height-xs);

  &[data-orientation="vertical"] {
    flex-direction: column;
    width: var(--size-20);
    height: 100%;
  }

  &[data-disabled] {
    cursor: not-allowed;
  }
}

.track {
  position: relative;
  flex-grow: 1;
  background: var(--track-background);
  border-radius: 999px;
  height: var(--size-4);

  &[data-orientation="vertical"] {
    width: var(--size-4);
    height: auto;
  }
}

.range {
  position: absolute;
  background: var(--range-background);
  border-radius: 999px;
  height: 100%;

  &[data-orientation="vertical"] {
    width: 100%;
    height: auto;
  }

  &[data-disabled] {
    background: var(--range-background-disabled);
  }
}

.thumb {
  display: block;
  width: var(--size-16);
  height: var(--size-16);
  background: var(--thumb-background);
  border-radius: 50%;
  box-shadow: var(--thumb-shadow);

  transition: box-shadow var(--duration-120) var(--ease-out-quad);

  &:focus-visible {
    outline: 2px solid var(--focus-ring-color);
    animation: var(--focus-ring-animation);
    outline-offset: var(--focus-ring-offset);
  }

  &[data-disabled] {
    opacity: 0.5;
  }
}
