.content {
  composes: floatingSurface popperAnimation from "../../css/recipes.module.css";

  padding: 12px;
  min-width: var(--size-128);
  max-width: calc(100vw - 16px);

  z-index: var(--layer-popover);
  position: relative;

  &:focus {
    outline: none;
  }
}
