.content {
  composes: floatingSurface popperAnimation from "../../css/recipes.module.css";

  padding: 12px;
  max-width: calc(100vw - 16px);

  z-index: var(--layer-popover);
  position: relative;

  &[data-width="auto"] {
    width: auto;
  }
  &[data-width="sm"] {
    width: var(--size-180);
  }
  &[data-width="md"] {
    width: var(--size-212);
  }
  &[data-width="lg"] {
    width: var(--size-256);
  }
}
