.pie {
  --track-color: var(--gray-a3);
  --fill-color: var(--top-ring-color, var(--blue-9));
}

.pie {
  display: block;
}

.track {
  stroke: var(--track-color);
}

.cutout {
  transition: stroke-dasharray var(--duration-260) var(--ease-in-out-quad);
}

.fill {
  stroke: var(--fill-color);
  transition:
    stroke-dasharray var(--duration-260) var(--ease-in-out-quad),
    stroke var(--duration-260) var(--ease-in-out-quad);
}
