.field {
  display: flex;
  flex-direction: column;
  gap: var(--size-8);
}

.message {
  font-family: var(--font-sans);
  font-size: var(--font-size-x-small);
  line-height: var(--line-height-x-small);
  color: var(--red-9);
}
