.content {
  --collapse-height: var(--radix-collapsible-content-height);

  overflow: hidden;

  &[data-state="open"] {
    animation: var(--kf-collapse-open) var(--duration-180) var(--ease-out-quad);
  }

  &[data-state="closed"] {
    animation: var(--kf-collapse-closed) var(--duration-180) var(--ease-out-quad);
  }
}
