.suffixGroup {
  display: inline-flex;
  align-items: center;
  gap: var(--size-8);
}

.toggle {
  --toggle-color: var(--fg-tertiary);
  --toggle-color-hover: var(--fg-secondary);
}

.toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  color: var(--toggle-color);
  cursor: pointer;
  transition: color var(--duration-120) var(--ease-out-quad);

  &:hover {
    color: var(--toggle-color-hover);
  }

  &:focus-visible {
    outline: 2px solid var(--focus-ring-color);
    animation: var(--focus-ring-animation);
    outline-offset: 2px;
    border-radius: var(--size-4);
  }
}
