.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: none;
  user-select: none;

  border-radius: 50%;
  background: var(--bg-tertiary);
  box-shadow: inset 0 0 0 1px var(--gray-a4);

  &[data-size="sm"] {
    width: var(--size-20);
    height: var(--size-20);
  }
  &[data-size="md"] {
    width: var(--size-28);
    height: var(--size-28);
  }
  &[data-size="lg"] {
    width: var(--size-40);
    height: var(--size-40);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--fg-secondary);
}
